

.timer {
    position: absolute;
    top: 25px;
    right: 25px;
  }

.container {
    margin: 100px auto 0 auto;
    max-width: 600px;
}

button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:100%;
    background-color: rgb(46, 150, 150);
    border-radius: 5px;
    padding: 3px 10px;
    color: white;
    border: 0;
    transition: background-color 0.3s;
}

button:hover {
    background-color: silver;
    color: black;
}

#end-screen {
    display: none;
}